.fileExplorer {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 0px;
  background-color: var(--background-color);

  .__title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--accent-color);
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--accent-color);
  }

  .__output {
    height: calc(100% - 60px);
    padding-right: 20px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--accent-color);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: color-mix(
        in srgb,
        var(--accent-color) 80%,
        var(--foreground-color) 20%
      );
    }
  }
}

.fileExplorerItem {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  margin: 2px 0;
  border-radius: 6px;
  cursor: default;
  transition: background-color 0.2s ease;

  &.striped {
    background-color: color-mix(
      in srgb,
      var(--foreground-color) 2%,
      transparent
    );
  }

  .__icon {
    width: 20px;
    margin-right: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .__name {
    flex: 1;
    color: color-mix(in srgb, var(--foreground-color) 80%, transparent);
    font-size: 14px;
    font-weight: 900;
  }

  .__size {
    color: color-mix(in srgb, var(--foreground-color) 60%, transparent);
    font-size: 0.9rem;
    margin-left: 10px;
    min-width: 80px;
    text-align: right;
  }
}
