.mainDiv {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: 20px;

  display: flex;
  gap: 20px;

  .projectsDiv {
    width: 60%;
    height: 100%;
    border: 1px solid
      color-mix(in srgb, var(--foreground-color) 20%, transparent);
    border-radius: 10px;
    padding: 20px;
  }
  .fileExplorerDiv {
    width: 40%;
    height: 100%;
    border: 1px solid
      color-mix(in srgb, var(--foreground-color) 20%, transparent);
    border-radius: 10px;
    padding: 20px;
  }
}
